# Mudah.my House Scraper

In [ ]:
%%time
# measure the execution time

# run this code if selenium packages not install in your machine
# !pip install selenium

# import packages
from selenium import webdriver
import pandas as pd
import time

# create variables array for storing informations
house_titles = []
house_types = []
house_prices = []
house_bedrooms = []
house_bathrooms = []
house_areas = []
house_locations = []
house_releases_date = []
house_urls = []

def scrape(main_url, pages):
    
    # load chrome browser
    driver = webdriver.Chrome()

    # dynamic url for pages
    def get_url(main_url, page):
        """Generate url by page"""
        #     url ='https://www.mudah.my/putrajaya/houses-for-sale-2040?o=' + str(page)
        url = main_url + str(page)
        return url

    # ask user to input maximum page that need to be scrap
    # max_page = driver.find_element_by_xpath('//*[@id="__next"]/div[3]/div[1]').text[-3:]
    # max_page = int(max_page)
    #max_page = int(input("Please insert maximum page to scrap: "))

    # iterate code by page
    for page in range(1,pages+1):
        url = get_url(main_url, page)
        driver.get(url)

        # fetch information using xpath
        titles = driver.find_elements_by_xpath('//*[@id="__next"]/div[3]/div[4]/div[1]/div/div[2]/a')
        types = driver.find_elements_by_xpath('//*[@id="__next"]/div[3]/div[4]/div[1]/div/div[2]/div[2]/div[1]/div')
        prices = driver.find_elements_by_xpath('//*[@id="__next"]/div[3]/div[4]/div[1]/div/div[2]/div[1]/div')
        bedrooms = driver.find_elements_by_xpath('//*[@id="__next"]/div[3]/div[4]/div[1]/div/div[2]/div[2]/div[3]/div')
        bathrooms = driver.find_elements_by_xpath('//*[@id="__next"]/div[3]/div[4]/div[1]/div/div[2]/div[2]/div[4]/div')
        areas = driver.find_elements_by_xpath('//*[@id="__next"]/div[3]/div[4]/div[1]/div/div[2]/div[2]/div[2]/div')
        locations = driver.find_elements_by_xpath('//*[@id="__next"]/div[3]/div[4]/div[1]/div/div[3]/div[1]/span[2]/span')
        releases_date = driver.find_elements_by_xpath('//*[@id="__next"]/div[3]/div[4]/div[1]/div/div[3]/div[1]/span[1]/span')
        urls = driver.find_elements_by_xpath('//*[@id="__next"]/div[3]/div[4]/div[1]/div/div[2]/a')

        # loop through the iterations and append in the arrays
        for title in titles:
            house_titles.append(title.text)
        
        for type_ in types:
            house_types.append(type_.text)

        for price in prices:
            house_prices.append(price.text)

        for bedroom in bedrooms:
            house_bedrooms.append(bedroom.text)

        for bathroom in bathrooms:
            house_bathrooms.append(bathroom.text)

        for area in areas:
            house_areas.append(area.text)

        for location in locations:
            house_locations.append(location.text)

        for release_date in releases_date:
            house_releases_date.append(release_date.text)

        for url in urls:
            house_urls.append(url.get_attribute('href'))

    #     time.sleep(0.5)
    
    # quit the browser
    driver.quit()


# export dataframe into csv file
def save_to_csv(filetitle, df):
    import datetime as dt
    #extract dataframe to csv files
    x = dt.datetime.now()
    today = x.strftime("%d%m%Y-%H%M") #date should be in string format in order to insert in filename
    fileName = f'./data/{filetitle}-{today}.csv'
    df.to_csv(fileName, index=False)


def main():
    
    main_url = str(input("Please insert url to scrape: "))
    pages = int(input("Please insert maximum page to scrape: "))
    filetitle = str(input("Please input csv filename: "))
    
    # run scrape() function
    scrape(main_url, pages)
    
    # extract to pandas dataframe
    # store the value in dataframe
    df = pd.DataFrame({
        "Title":house_titles,
        "Types":house_types,
        "Price":house_prices,
        "Bedrooms":house_bedrooms, 
        "Bathrooms":house_bathrooms, 
        "Areas":house_areas, 
        "Location":house_locations,
        "Release Date":house_releases_date,
        "Url":house_urls
    })
    
    # run save_to_csv() function
    save_to_csv(filetitle, df)
    
    return df

data = main()

Please insert url to scrape: https://www.mudah.my/negeri-sembilan/houses-for-sale-2040?o=
Please insert maximum page to scrape: 234
Please input csv filename: negeri-sembilan-house-for-sale

In [16]:
data

,Title,Types,Price,Bedrooms,Bathrooms,Areas,Location,Release Date,Url
0,(FULLY FURNISHED 2STOREY) Laman Villa Lavender...,Houses,RM 610 000,4 Bedrooms,3 Bathrooms,3318 sq.ft.,Senawang,"Today, 23:15",https://www.mudah.my/+FULLY+FURNISHED+2STOREY+...
1,"Single Storey intermediate Taman Vista Jaya, L...",Houses,RM 125 000,3 Bedrooms,2 Bathrooms,1100 sq.ft.,Port Dickson,"Today, 23:14",https://www.mudah.my/Single+Storey+intermediat...
2,End lot unit.konsep moden,Houses,RM 365 000,3 Bedrooms,3 Bathrooms,1207 sq.ft.,Seremban,"Today, 23:10",https://www.mudah.my/End+lot+unit+konsep+moden...
3,Banglow.ukiran dalaman yang menarik,Houses,RM 850 000,4 Bedrooms,3 Bathrooms,4500 sq.ft.,Senawang,"Today, 23:10",https://www.mudah.my/Banglow+ukiran+dalaman+ya...
4,Prima House Lukut near Tesco PD,Houses,RM 221 616,4 Bedrooms,3 Bathrooms,1535 sq.ft.,Port Dickson,"Today, 23:05",https://www.mudah.my/Prima+House+Lukut+near+Te...
...,...,...,...,...,...,...,...,...,...
195,Taman mawar ehsan* rumah idaman teres 2 tingka...,Houses,RM 359 820,4 Bedrooms,3 Bathrooms,2000 sq.ft.,Pedas,"Today, 13:50",https://www.mudah.my/Taman+mawar+ehsan+rumah+i...
196,Single storey terrace house taman seremban 3,Houses,RM 290 000,3 Bedrooms,2 Bathrooms,1300 sq.ft.,Seremban,"Today, 13:50",https://www.mudah.my/Single+storey+terrace+hou...
197,[HOT] 20 x 65 FreeHold Double Storey Garden Su...,Houses,RM 285 000,4 Bedrooms,4 Bathrooms,2580 sq.ft.,Pasir Panjang,"Today, 13:48",https://www.mudah.my/+HOT+20+x+65+FreeHold+Dou...
198,"Single Storey Bungalow, D’Venea Residence, Tam...",Houses,RM 585 000,4 Bedrooms,3 Bathrooms,2200 sq.ft.,Seremban,"Today, 13:46",https://www.mudah.my/Single+Storey+Bungalow+D+...
199,Corner Lot LAST CALL!!! [Biggest House 2-Sty 5...,Houses,RM 390 000,5 Bedrooms,5 Bathrooms,3558 sq.ft.,Nilai,"Today, 13:46",https://www.mudah.my/Corner+Lot+LAST+CALL+Bigg...

In [17]:
data['Price'] = data['Price'].replace({"RM":"", " ":""}, regex=True)
data['Bedrooms'] = data['Bedrooms'].replace({"Bedrooms":"", "Bedroom":"", " ":""}, regex=True)
data['Bathrooms'] = data['Bathrooms'].replace({"Bathrooms":"", "Bathroom":""," ":""}, regex=True)
data['Areas'] = data['Areas'].replace({"sq.ft.":"", " ":""}, regex=True)

In [18]:
data['Bedrooms'] = data['Bedrooms'].replace({"Morethan10":"10"})
data['Bedrooms'] = data['Bedrooms'].astype(int)

In [19]:
data['Bathrooms'] = data['Bathrooms'].replace({"Morethan10":"10"})
data['Bathrooms'] = data['Bathrooms'].astype(int)

In [20]:
data.dtypes

Title           object
Types           object
Price           object
Bedrooms         int32
Bathrooms        int32
Areas           object
Location        object
Release Date    object
Url             object
dtype: object

In [21]:
# del data['Bathromms']
data.dtypes

Title           object
Types           object
Price           object
Bedrooms         int32
Bathrooms        int32
Areas           object
Location        object
Release Date    object
Url             object
dtype: object

In [22]:
data['Price'] = data['Price'].replace({"1200permonth":"1200"})
data['Areas'] = data['Areas'].astype(int)
data['Price'] = data['Price'].astype(float)

data.dtypes

Title            object
Types            object
Price           float64
Bedrooms          int32
Bathrooms         int32
Areas             int32
Location         object
Release Date     object
Url              object
dtype: object

In [23]:
data.dtypes

Title            object
Types            object
Price           float64
Bedrooms          int32
Bathrooms         int32
Areas             int32
Location         object
Release Date     object
Url              object
dtype: object

In [37]:
data.to_csv(f"./data/negeri-sembilan-house-sale-26022021.csv", index=False)
# import datetime as dt
# today = dt.datetime.now()
# filepath = f'/content/drive/MyDrive/House-Price/negeri-sembilan-house-sale-{today}.csv'
# data.to_csv(filepath, index=False)

In [ ]:
data_describe = data.describe()
data_describe

In [ ]:
data.info()

In [ ]:
data.tail()

In [ ]:
data.head()

In [ ]:
data.shape

In [ ]:
data['Price']